- provide :title, @book.title
/ - if @questions.empty?
/   .text-center
/     p まだクイズがありません。
/ - else
/   h5.card-header.bg-success.text-white.text-center
/     strong クイズ一覧
/   .questions-box
/     = render partial: 'questions/question_in_book', collection: @questions, as: :question
/   .mt-3
/     = paginate @questions