@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  position: relative;
  height: 100vh;
}

.pagination {
  justify-content: center;
}

.jumbotron {
  background-image: image-url("janbotron.jpg");
  background-size: cover;
  background-position: center 60%;
}

.card-book {
  background-color: #e9f5e3;
  padding: 1em;
  margin-bottom: 1em;
}

.card-choice {
  padding: .75em;
  margin-top: 1em;
  background-color: #f9ffe6;
}

input[type=radio] {
  display: none;
}

.name-position {
  position: absolute;
  right: .75em;
  bottom: .75em;
}