@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  position: relative;
  height: 100vh;
}

.pagination {
  justify-content: center;
}

.jumbotron {
  background-image: url("janbotron.jpg");
  background-size: cover;
  background-position: center 60%;
}